html {
  &.theme-transition,
  &.theme-transition *,
  &.theme-transition *::before,
  &.theme-transition *::after,
  &.theme-transition *::placeholder {
    // keep in sync with timeout in ThemeToggler.sveltes
    $time: 500ms;

    transition: all $time;
    transition-delay: 0ms;
  }

  * {
    color: var(--color-text);
  }
}

body {
  &.overlay-active {
    height: 100vh;
    overflow-y: hidden;
    padding-right: 12px; // scrollbar
  }
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--color-scrollbar-bg);
  box-shadow: inset 0 0 6px var(--color-shadow);
  -webkit-box-shadow: inset 0 0 6px var(--color-shadow);
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-fg);
  z-index: 1024;

  &:hover {
    background: var(--color-scrollbar-hover);
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}
