// Styling that targets all elements of a specific type

a {
  color: var(--color-accent-secondary);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

code {
  font-family: Consolas, Monaco, monospace;
}

input,
label.input,
select {
  background: none;
  border: 1px solid var(--color-text);
  border-radius: 4px;
  padding: 0.8em;
  color: var(--color-text);
}

.input-height {
  height: 40px;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-divider);
}

section {
  padding-top: 50px; // for navbar
  min-height: 100vh;
}

div[contenteditable="true"] {
  padding: 4px;

  &[placeholder]:empty::before {
    content: attr(placeholder);
    color: var(--color-divider);
  }

  &[placeholder]:empty:focus::before {
    content: "";
  }
}