// This is an easter egg. Do not take it seriously.
:root[data-hacker-theme="true"] {
  $dark-gray: #212121;
  $darker-gray: rgb(14, 14, 14);
  $lime-filter: invert(68%) sepia(85%) saturate(1334%) hue-rotate(67deg) brightness(90%) contrast(87%);

  // colors
  --color-text: lime;
  --color-text-subtle: green;
  --color-bg: black;
  --color-accent: green;
  --color-accent-secondary: lime;
  --color-shadow: transparent;
  --color-scrollbar-bg: #{$darker-gray};
  --color-scrollbar-fg: lime;
  --color-scrollbar-hover: green;
  --color-blur-fallback: rgba(0, 0, 0, 0.8);

  // filters
  --filter-light: #{$lime-filter};
  --filter-svg: #{$lime-filter};
  --filter-svg-invert: var(--filter-dark);
  --filter-svg-accent: #{$lime-filter};
  --filter-bg-blur: blur(12px) brightness(55%);

  *,
  *::before,
  *::after,
  *::placeholder {
    font-family: var(--font-mono), monospace !important;
  }

  .hacker-text-lime {
    color: var(--color-text) !important;
  }

  .hacker-border-gray {
    border: 1px solid $dark-gray !important;
  }

  nav,
  .hacker-border-b-gray {
    border-bottom: 1px solid $dark-gray !important;
  }

  footer,
  .hacker-border-t-gray {
    border-top: 1px solid $dark-gray !important;
  }

  .hacker-bg-gray {
    background-color: $dark-gray !important;
  }

  nav,
  footer,
  body,
  .hacker-bg-black {
    background-color: black !important;
  }

  input,
  textarea,
  select {
    background-color: $darker-gray !important;
  }
}