// Styling that uses semantics/classes to apply styling

.is-svg {
  filter: var(--filter-svg);

  &.dark-svg {
    filter: var(--filter-dark);
  }

  &.light-svg {
    filter: var(--filter-light);
  }

  &.hoverable:hover {
    opacity: 0.6;
  }
}

.disclaimer,
.subtle-text {
  font-size: 0.8em;
  color: var(--color-text-subtle);
}

.small-title {
  color: var(--color-text-subtle);
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

.default-gradient-text {
  @include gradient-bg(var(--color-accent), var(--color-accent-secondary));
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.move-on-hover {
  position: relative;
  transition: top 350ms;
  top: 0;

  &:hover {
    top: -2px;
    cursor: pointer;
  }
}

.floating-card {
  background-color: var(--color-card);
  padding: 16px;
  border-radius: 8px;
  min-width: 300px;
  max-width: 100%;
}

.floating-card-group {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.unselectable-text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hoverable:hover {
  cursor: pointer;
}

button.button-wrapper {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-size: 1em;

  &:hover {
    cursor: pointer;
  }
}

:root {
  &[data-allow-blur="true"] {
    .blur-bg-if-allowed {
      background-color: var(--color-blur-fallback);
    }
  }

  &:not([data-allow-blur="true"]) {
    .blur-bg-if-allowed {
      background-color: var(--color-bg);
    }
  }
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  :root[data-allow-blur="true"] {
    .blur-bg-if-allowed {
      background-color: transparent;
      backdrop-filter: var(--filter-bg-blur);
      -webkit-backdrop-filter: var(--filter-bg-blur);
    }
  }
}
