// Styles for fonts and text appearance

*,
*::placeholder {
  font-family: $font-noto-sans, sans-serif;
}

.monospace {
  font-family: $font-roboto-mono, monospace;
}

.nowrap {
  white-space: nowrap;
}

.nowrap-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pre-wrap {
  white-space: pre-wrap;
}

.word-wrap {
  overflow-wrap: break-word;
}

.bold {
  font-weight: bold;
}

.unbold {
  font-weight: normal;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

//#region Text Colors

.text-color {
  color: var(--color-text) !important;
}

.subtle-color {
  color: var(--color-text-subtle) !important;
}

.accent-color {
  color: var(--color-accent) !important;
}

.error-color {
  color: var(--color-error) !important;
}

.warning-color {
  color: var(--color-warning) !important;
}

.frankk-color {
  color: var(--color-frankk) !important;
}

.s4tk-color {
  color: var(--color-accent) !important;
}

.discord-color {
  color: var(--color-discord) !important;
}

.kofi-color {
  color: var(--color-kofi) !important;
}

.patreon-color {
  color: var(--color-patreon) !important;
}

.twitter-color {
  color: var(--color-twitter) !important;
}

.success-color {
  color: var(--color-success) !important;
}

//#endregion Text Colors
