.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-v {
  display: flex;
  align-items: center;
}

.flex-center-h {
  display: flex;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.hoverable:hover {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.nowrap-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-shadow {
  text-shadow: 1px 2px 4px var(--color-shadow);
}

.drop-shadow {
  box-shadow: 2px 4px 8px var(--color-shadow);
}

.bottom-shadow {
  box-shadow: 0px 4px 8px var(--color-shadow);
}

.bg-blur {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.w-100 {
  width: 100%;
}

.mw-100 {
  max-width: 100%;
}

//#region Margins

.m-0 {
  margin: 0;
}

.my-0 {
  margin: {
    top: 0;
    bottom: 0;
  }
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-3 {
  margin-top: 3em;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 1em;
}

.ml-2 {
  margin-left: 2em;
}

.ml-3 {
  margin-left: 3em;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 1em;
}

.mr-2 {
  margin-right: 2em;
}

.mr-3 {
  margin-right: 3em;
}

//#endregion Margins

.move-on-hover {
  position: relative;
  transition: all ease 300ms;
  top: 0;

  &:hover {
    top: -4px;
    cursor: pointer;
  }
}

.nowrap {
  white-space: nowrap;
}

.smaller-font {
  font-size: 0.85em;
}

.unbold {
  font-weight: normal;
}

.monospace,
input.monospace::placeholder {
  font-family: monospace; // FIXME:
}

.accent-color {
  color: var(--color-accent);
}

.frankk-color {
  color: var(--color-frankk);
}

.s4tk-color {
  color: var(--color-accent);
}

.discord-color {
  color: var(--color-discord);
}

.kofi-color {
  color: var(--color-kofi);
}

.patreon-color {
  color: var(--color-patreon);
}

.twitter-color {
  color: var(--color-twitter);
}

.newlines {
  white-space: pre-wrap;
}

.unselectable-text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
