// General utilities that can be used to avoid semantic classes

//#region Flexbox

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-v {
  display: flex;
  align-items: center;
}

.flex-center-h {
  display: flex;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

//#endregion Flexbox

//#region Shadows

.text-shadow {
  text-shadow: 1px 2px 4px var(--color-shadow);
}

.drop-shadow {
  box-shadow: 2px 4px 8px var(--color-shadow);
}

.bottom-shadow {
  box-shadow: 0px 4px 8px var(--color-shadow);
}

//#endregion Shadows

//#region Widths

.w-100 {
  width: 100%;
}

.mw-100 {
  max-width: 100%;
}

//#endregion Widths

//#region Margins

.m-0 {
  margin: 0;
}

.my-0 {
  margin: {
    top: 0;
    bottom: 0;
  }
}

.my-half {
  margin: {
    top: 0.5em;
    bottom: 0.5em;
  }
}

.my-1 {
  margin: {
    top: 1em;
    bottom: 1em;
  }
}

.my-2 {
  margin: {
    top: 2em;
    bottom: 2em;
  }
}

.my-3 {
  margin: {
    top: 3em;
    bottom: 3em;
  }
}

.mb-0 {
  margin-bottom: 0;
}

.mb-half {
  margin-bottom: 0.5em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}

.mt-0 {
  margin-top: 0;
}

.mt-half {
  margin-top: 0.5em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-3 {
  margin-top: 3em;
}

.mx-0 {
  margin: {
    left: 0;
    right: 0;
  }
}

.mx-half {
  margin: {
    left: 0.5em;
    right: 0.5em;
  }
}

.mx-1 {
  margin: {
    left: 1em;
    right: 1em;
  }
}

.mx-2 {
  margin: {
    left: 2em;
    right: 2em;
  }
}

.mx-3 {
  margin: {
    left: 3em;
    right: 3em;
  }
}

.ml-0 {
  margin-left: 0;
}

.ml-half {
  margin-left: 0.5em;
}

.ml-1 {
  margin-left: 1em;
}

.ml-2 {
  margin-left: 2em;
}

.ml-3 {
  margin-left: 3em;
}

.mr-0 {
  margin-right: 0;
}

.mr-half {
  margin-right: 0.5em;
}

.mr-1 {
  margin-right: 1em;
}

.mr-2 {
  margin-right: 2em;
}

.mr-3 {
  margin-right: 3em;
}

//#endregion Margins
