$cool-white: #ebedf0;
$dark-gray: #2f343e;
$darker-gray: #282c34;
$darkest-gray: #1a1c20;
$sage: #98c379;
$seafoam: #70cfb6;
$teal: #18ac87;
$sky-blue: #49c6e6;
$azure-blue: #0095eb;

:root {
  // brand colors
  --color-frankk: #8989fa;
  --color-discord: #7289da;
  --color-kofi: #fbaa19;
  --color-patreon: #f96854;
  --color-twitter: #1da1f2;

  // colors
  --color-light: #{$cool-white};
  --color-dark: #{$dark-gray};

  // filters
  --filter-dark: invert(13%) sepia(3%) saturate(427%) hue-rotate(314deg)
    brightness(105%) contrast(84%);
  --filter-light: invert(99%) sepia(74%) saturate(352%) hue-rotate(196deg)
    brightness(121%) contrast(100%);

  // dark theme variables
  &[data-theme="dark"] {
    // colors
    --color-bg: #{$darker-gray};
    --color-bg-secondary: #2f343e;
    --color-text: #{$cool-white};
    --color-text-subtle: rgb(160, 160, 160);
    --color-divider: rgb(104, 107, 107);
    --color-accent: #{$seafoam};
    --color-accent-contrast: #293a31;
    --color-accent-secondary: #{$sky-blue};
    --color-card: #3a3f49;
    --color-card-secondary: #333843;
    --color-navbar: rgba(0, 0, 0, 0.7);
    --color-footer: #{$darkest-gray};
    --color-scrollbar: rgb(135, 137, 141);
    --color-scrollbar-hover: rgb(190, 197, 199);
    --color-blur-fallback: rgba(12, 12, 12, 0.9);
    --color-shadow: rgba(0, 0, 0, 0.2);
    --color-error: #dc6060;
    --color-error-contrast: #3c1f1f;
    --color-success: rgb(79, 192, 79);
    --color-warning: rgb(226, 188, 100);
    --color-dimmer: rgba(0, 0, 0, 0.65);

    // filters
    --filter-svg: var(--filter-light);
    --filter-svg-invert: var(--filter-dark);
    --filter-bg-blur: blur(12px) brightness(55%);
  }

  // light theme variables
  &[data-theme="light"] {
    // colors
    --color-bg: rgb(246, 248, 250);
    --color-bg-secondary: white;
    --color-text: #{$darker-gray};
    --color-text-subtle: rgb(108, 109, 109);
    --color-divider: rgb(171, 175, 177);
    --color-accent: #{$teal};
    --color-accent-contrast: #bae2d0;
    --color-accent-secondary: #{$azure-blue};
    --color-card: white;
    --color-card-secondary: rgb(246, 248, 250);
    --color-navbar: rgba(231, 236, 238, 0.7);
    --color-footer: rgb(228, 230, 234);
    --color-scrollbar: rgb(144, 147, 150);
    --color-scrollbar-hover: rgb(95, 99, 100);
    --color-blur-fallback: rgba(255, 255, 255, 0.9);
    --color-shadow: rgba(64, 64, 64, 0.2);
    --color-error: #db4444;
    --color-error-contrast: #e09292;
    --color-success: rgb(79, 192, 79);
    --color-warning: rgb(219, 144, 31);
    --color-dimmer: rgba(0, 0, 0, 0.4);

    // filters
    --filter-svg: var(--filter-dark);
    --filter-svg-invert: var(--filter-light);
    --filter-bg-blur: blur(12px);
  }
}
